:root{
    --black-18: #181818;
    --black-25: #252523;
    --black-03:#000;
    --black-06:#000000;
    --bg-08:#080808;
    --white-f3: #fff;
    --white-f6: #ffffff;
    --bg-1:#edeae4;
    --bg-2: #fdac03;
    --bg-3: #f76404;
    --bg-4:#f59fa0;
    --bg-orange: #f0b400;
    --bg-color:#f2eebe;
    --red:#b73333;
    --bg-red: #a83030;
    --btn: #eae6dd;
    --bright-red: #ec5b5b;
    --gold: #938361;
    --gray: #535353;
    --text:#28282a;
    --clr-612: #c23612;
    --clr-a56: #192a56;
    --clr-bd32: #44bd32;
    --text-black: #0e0b0b;
    --dark-gray: #5f5f5f;
    --base-grey: #eeeeee;
    --light-grey:#c2c8cf;
    --light-grey-cf:#c2cfcf;
    --light-grey-cf3:#cfcfcf;
    --light-grey-c8:#c2cfc8;
    --med-grey: #8c939c;
    --slate-grey: #444b53;
    --dark-grey: #2e353d;
    --medium-gray: #c4c4c4;
    --border-gray: #c1ddd2;
    --campfire: #686c7c;
    --charcoal: #353c45;
}